.list {
    padding-top: 2rem;
    color: var(--text-color);
  }
  
  .navItem {
    padding: 1rem 2rem;
    margin: 0.5rem 1rem;
    border-radius: 10px;
    color: var(--highlight-color);
    text-decoration: none;
    transition: background 0.3s ease, transform 0.3s ease;
    display: block;
  }
  
  .navItem:hover {
    background: var(--secondary-color);
    transform: translateY(-5px);
  }
  
  .active {
    background: var(--highlight-color);
    color: var(--btn-text);
    font-weight: bold;
  }
  
  @media (max-width: 768px) {
    .list { width: 200px; }
  }